/* Homepage Layout Stylesheet */

/* Homepage Layout Stylesheet */

.homepage#homepage {
  max-width: 100vw;
  overflow: hidden;
}

.homepage#homepage section#main-hero {
  position: relative;
  min-width: 100%;
  max-width: 100%;
  min-height: 100vh;
  max-height: 100vh;

  & .backdrop {
    min-width: 100%;
    max-width: 100%;
    min-height: 100vh;
    max-height: 100vh;
  }

  & .backdrop img {
    min-width: 100%;
    max-width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.4);
  }
}

.homepage#homepage section#main-hero .content-dekstop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  & div img.reeltalk-logo {
    width: 240px;
  }
}

.homepage#homepage section#featurePosts .primus-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2.5rem 16px;
  align-items: end;
  color: #fff;

  &::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("https://images.pexels.com/photos/1362371/pexels-photo-1362371.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    opacity: 0.2;
    background-position: center;
  }

  & a.trailer {
    color: #fff;
  }

  & .backdrop {
    display: none;
    width: 80%;
    max-width: 240px;
    overflow: hidden;
    margin: auto;
  }

  & .backdrop img {
    width: 100%;
  }

  & .body {
    padding: 8px 16px;
  }

  & .body .first-label {
    font-size: 11px;
  }

  & .body .second-label {
    font-size: 11px;
  }
}

@media screen and (min-width: 620px) {
  .homepage#homepage section#featurePosts .primus-container {
    padding-top: 1.5rem;
    max-width: 1080px;
    margin: auto;
    flex-direction: row;

    & .backdrop {
      display: flex;
      min-width: 280px;
      max-width: 280px;
    }

    & .backdrop img {
      height: 100%;
    }
  }
}

.homepage#homepage section#featurePostsSecundo {
  max-width: 1080px;
  margin: 1.5rem auto 0px;
  min-height: 480px;
  max-height: 480px;
  overflow: hidden;
  display: grid;
  grid-template-areas:
    "first second third"
    "first fourth fourth";
  column-gap: 8px;
  row-gap: 8px;
  grid-template-columns: 0.5fr 0.25fr 0.25fr;
  grid-template-rows: 0.5fr 0.5fr;

  & .secundo-item {
    position: relative;
    overflow: hidden;
  }

  & .secundo-item a > .body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    align-items: end;

    & .first-label {
      font-size: 14px;
    }

    & .attributes {
      font-size: 11px;
    }
  }

  & .secundo-item a > .backdrop {
    width: 100%;
    height: 100%;
    overflow: hidden;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.25s;
      filter: brightness(0.4);
      object-position: center;
    }
  }

  & .secundo-item:nth-child(1) {
    grid-area: first;

    & .body {
      padding: 1rem;
    }

    & .body h4 {
      font-size: 24px;
    }
  }

  & .secundo-item:nth-child(2) {
    grid-area: second;

    & .body {
      padding: 8px;
    }

    & .body h4 {
      font-size: 14px;
    }
  }

  & .secundo-item:nth-child(3) {
    grid-area: third;

    & .body {
      padding: 8px;
    }

    & .body h4 {
      font-size: 14px;
    }
  }

  & .secundo-item:nth-child(4) {
    grid-area: fourth;

    & .body {
      padding: 1rem;
    }
  }

  & .secundo-item:hover .backdrop img {
    filter: blur(4px) brightness(0.4);
  }
}

.homepage#homepage section#popularMovies {
  max-width: 1080px;
  margin: auto;
}

@media screen and (max-width: 620px) {
  .homepage#homepage section#featurePostsSecundo {
    grid-template-areas:
      "first second "
      "first third"
      "fourth fourth";
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 0.25fr 0.25fr 0.5fr;
  }
}

@media screen and (max-width: 443px) {
  .homepage#homepage section#featurePostsSecundo {
    margin: 0;
    min-height: none;
    max-height: none;
    grid-template-areas:
      "first"
      "second"
      "third"
      "fourth";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    & .secundo-item {
      min-height: 280px;
    }

    & .secundo-item h4 {
      font-size: 14px !important;
    }
  }
}

@media screen and (min-width: 1080px) {
  .homepage#homepage section#featurePosts .primus-container {
    max-width: 1080px;
    margin: auto;
    flex-direction: row;
    background-color: transparent;
    padding: 1.5rem 0 0 0;

    &::after {
      background-position: unset;
    }
  }
}
